mixin header()
	header.header.bem.is-hide-mobile&attributes(attributes)
		.content-center
			.header__container
				.header__left.header-item
					.header__language
						a.header__language-link(href='#') Eng
					.header__cabinet
						a.header__cabinet-link(href='#') Личный кабинет
					.header__entry
						button.header__entry-link.header__btn(href='#') Войти
				.header__logo.header-item
					.header__logo-block
						a.header__logo-link(href='#')
							img.header__logo-img(src='img/logo-header@2x.png', data-no-retina, alt='Логотип компании')
					.header__logo-text
						| с 1990 года
				.header__right.header-item
					.header__write
						a.header__write-link(href='#') Написать нам
					.header__phone
						a.header__phone-link(href='#') 8 (495) 999-99-99
					.header__button
						button.header__phone-btn.header__btn(href='#') Заказать звонок
	.menu-top.bem.is-hide-mobile
		.content-center
			.menu-top__plate
				ul.menu-top__first-level
					li.menu-top__first-item.is-contain
						a.menu-top__first-link(href='#') О компании
					li.menu-top__first-item.is-contain
						a.menu-top__first-link(href='#') Команда
					li.menu-top__first-item
						a.menu-top__first-link(href='#') Инфоцентр
					li.menu-top__first-item.is-active
						a.menu-top__first-link(href='#') Правовое сопровождение и защита бизнеса
					li.menu-top__first-item
						a.menu-top__first-link(href='#') Представление интересов у физических лиц
					li.menu-top__first-item
						a.menu-top__first-link(href='#') Мероприятия
					li.menu-top__first-item.is-additional
						a.menu-top__first-link(href='#') Контакты