mixin menuFooter()
	div.menu-contacts
		div.menu-contacts__item.menu-contacts__item--phone
			span.menu-contacts__icon
				i.fa.fa-phone
			a(
			href="tel:8(495)956-29-92"
			class="menu-contacts__text menu-contacts__text--white_color"
			) 8(495)956-29-92
		div.menu-contacts__item.menu-contacts__item--adress
			span.menu-contacts__icon
				i.fa.fa-map-marker
			a(
			href="#"
			class="menu-contacts__text"
			) Сеть региональных офисов
		div.menu-contacts__item.menu-contacts__item--select_lang
			button.select-btn in English

mixin left-arrow() 
	span.mobile-nav__arrow.mobile-nav__arrow--left
		i.fa.fa-long-arrow-left
	
mixin right-arrow()
	span.mobile-nav__arrow.mobile-nav__arrow--right
		i.fa.fa-long-arrow-right

mixin header-mobile()
	header.header-mobile.bem.is-hide-desktop&attributes(attributes)
		div.header-mobile__container
			div.header-item.header-item--left
				button.nav-btn
					i.fa.fa-bars
				nav.mobile-nav
					div.mobile-nav__list.mobile-nav__list--first_lvl
						//first lvl
						div.mobile-nav__item
							a(
							href="#"
							class="mobile-nav__link"
							) О компании
							mixin right-arrow()
							// two lvl
							div.mobile-nav__list.mobile-nav__list--other_lvl
								div.mobile-nav__item.mobile-nav__item--back
									mixin left-arrow()
									a(
									href="#"
									class="mobile-nav__link"
									) О компании
								// two lvl
								div.mobile-nav__item
									a(
									href="#"
									class="mobile-nav__link"
									) О нас
									mixin right-arrow()
									
									// three lvl
									div.mobile-nav__list.mobile-nav__list--other_lvl
										div.mobile-nav__item.mobile-nav__item--back
											mixin left-arrow()
											a(
											href="#"
											class="mobile-nav__link"
											) О нас
										// three lvl
										div.mobile-nav__item
											a(
											href="#"
											class="mobile-nav__link"
											) История компании
										// three lvl
										div.mobile-nav__item
											a(
											href="#"
											class="mobile-nav__link"
											) Признание и награды
										// three lvl
										div.mobile-nav__item
											a(
											href="#"
											class="mobile-nav__link"
											) Философия бизнеса
										// three lvl
										div.mobile-nav__item
											a(
											href="#"
											class="mobile-nav__link"
											) Социальная ответственность
										// three lvl
										div.mobile-nav__item
											a(
											href="#"
											class="mobile-nav__link"
											) Преимущества
										mixin menuFooter()
											
								// two lvl
								div.mobile-nav__item
									a(
									href="#"
									class="mobile-nav__link"
									) Филиалы
								// two lvl
								div.mobile-nav__item
									a(
									href="#"
									class="mobile-nav__link"
									) Проекты
								// two lvl
								div.mobile-nav__item
									a(
									href="#"
									class="mobile-nav__link"
									)  Клиенты
								// two lvl
								div.mobile-nav__item
									a(
									href="#"
									class="mobile-nav__link"
									)  Галерея
								mixin menuFooter()
						//first lvl
						div.mobile-nav__item
							a(
							href="#"
							class="mobile-nav__link"
							)  Команда
							mixin right-arrow()
							// two lvl
							div.mobile-nav__list.mobile-nav__list--other_lvl
								div.mobile-nav__item.mobile-nav__item--back
									mixin left-arrow()
									a(
									href="#"
									class="mobile-nav__link"
									) Команда
								//two lvl
								div.mobile-nav__item
									a(
									href="#"
									class="mobile-nav__link"
									)  тест
						//first lvl
						div.mobile-nav__item
							a(
							href="#"
							class="mobile-nav__link"
							)  Инфоцентр
						//first lvl
						div.mobile-nav__item
							a(
							href="#"
							class="mobile-nav__link"
							)  Правовое сопровождение и защита бизнеса
						//first lvl
						div.mobile-nav__item
							a(
							href="#"
							class="mobile-nav__link"
							)  Представление интересов физических лиц
						//first lvl
						div.mobile-nav__item
							a(
							href="#"
							class="mobile-nav__link"
							)  Мероприятия
						//first lvl
						div.mobile-nav__item
							a(
							href="#"
							class="mobile-nav__link"
							)  Контакты
						//first lvl
						div.mobile-nav__item
							a(
							href="#"
							class="mobile-nav__link"
							)  Личный кабинет
						mixin menuFooter()
						
			div.header-item.header-item--center
				a(
				href="/"
				class="logo"	
				)
					img(
					src="img/logo-header@2x.png"
					class="logo__image"
					)
			div.header-item.header-item--right
				a(
				href="tel:+74959999999"
				class="header-item__phone"
				)
					i.fa.fa-phone
		

							
					
			
