$dark-green: #003838;
$navBorderColor: #0F494A;

@mixin comfortTouch() {
	&:after {
		content: '';
		display: block;
		width: 200%;
		height: 200%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

//header
.header-mobile {
	background-color: $dark-green;
}

.layout .header-mobile {
	position: relative;
}

.header-mobile__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 92%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 14px;
	padding-bottom: 14px;
}

.header-item__phone {
	color: transparentize(#fff, .4);
	font-size: 30px;
	position: relative;
	@include comfortTouch();
}

.header-item--left {
	margin-right: auto;
}

.header-item--center {
	max-width: 60%;
}

.header-item--right {
	margin-left: auto;
}

.logo {
	display: block;
}

//nav-btn
.nav-btn {
	min-width: 26px;
	background-color: transparent;
	border: none;
	font-size: 30px;
	color: transparentize(#fff, .4);
	@include comfortTouch();
}

.header-item .nav-btn {
	position: relative;
}

//menu
.mobile-nav {
	width: 100%;
	max-height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: $dark-green;
	border-top: 1px solid $navBorderColor;
}

.header-item .mobile-nav {
	position: absolute;
	display: none;
	z-index: 2;
	left: 0;
	top: 100%;
}

.mobile-nav--active {
	display: block !important;
}

.mobile-nav__list {
	width: 100%;
	min-height: 590px;
	background-color: $dark-green;
	transition: ease-in 0.25s;
}

.mobile-nav__list--other_lvl {
	position: absolute;
	right: -100%;
	z-index: 2;
	top: 0;
}

.mobile-nav__list--active {
	right: 0;
}

.mobile-nav__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 50px;
	background-color: $dark-green;
	border-bottom: 1px solid $navBorderColor;
}

.mobile-nav__link {
	display: block;
	width: 75%;
	padding: 10px 14px;
	font-size: 18px;
}

.mobile-nav__item--back {
	.mobile-nav__link {
		margin-right: auto;
		font-size: 16px;
	}
}

.mobile-nav__arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	min-height: inherit;
	height: 100%;
	font-size: 16px;
	color: #C8AF79;
}

.mobile-nav__arrow--left {
	left: 0;
	border-right: 1px solid $navBorderColor;
}

.mobile-nav__arrow--right {
	font-size: 18px;
	right: 0;
	border-left: 1px solid $navBorderColor;
}

//mobile contacts
.menu-contacts {
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid $navBorderColor;
}

.menu-contacts__item {
	display: flex;
	align-items: center;
	min-height: 40px;
	background-color: #003838;
	padding: 5px 14px;
	position: relative;
}

.menu-contacts__item--select_lang {
	background-color: $navBorderColor;
}

.menu-contacts__icon {
	margin-right: 10px;
	color: transparentize(#fff, 0.5);
}

.menu-contacts__text {
	font-size: 16px;
}

.menu-contacts__text--white_color  {
	font-size: 18px;
	color: #fff;
}

// select-btn
.select-btn {
	width: 100%;
	border: none;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: transparentize(#fff, 0.5);
}
